
body {
  background: url('/images/wallpaperflare.com_wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

 .canvas {
  width: 1100px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
