body {
  background: url('/images/wallpaperflare.com_wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  height: auto;
}
/* canvas {
  border: 2px solid black;
  display: block;
  margin-top: 10%;
  margin: auto;
  padding: auto;  
} */

.canvas {
  /* width: 100%; */
  height: 100%
}

/* .machine {
  width: max-content;
  display: block;
  margin: auto;
  padding: auto;
} */